services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - kafka-network
    volumes:
      - pgdata:/var/lib/postgresql/data
    command: >
      postgres -c wal_level=logical
               -c max_replication_slots=10
               -c max_wal_senders=10
               -c wal_keep_size=64MB

volumes:
  pgdata:

networks:
  kafka-network:
    driver: bridge
